In [13]:
import numpy as npd
import pandas as pd
import matplotlib.pyplot as plt

In [14]:

data = pd.read_csv('kenya-climate-data-1991-2016-temp-degress-celcius.csv')

In [15]:
print(data)

     Year Month Average  Temperature - (Celsius)
0    1991   Jan Average                  25.1631
1    1991   Feb Average                  26.0839
2    1991   Mar Average                  26.2236
3    1991   Apr Average                  25.5812
4    1991   May Average                  24.6618
..    ...           ...                      ...
307  2016   Aug Average                  24.0942
308  2016   Sep Average                  24.4370
309  2016   Oct Average                  26.0317
310  2016   Nov Average                  25.5692
311  2016   Dec Average                  25.7401

[312 rows x 3 columns]

In [16]:
dataDF=pd.DataFrame(data['Temperature - (Celsius)'], data['Year'])

In [17]:
dataDF

      Temperature - (Celsius)
Year
1991                      NaN
1991                      NaN
1991                      NaN
1991                      NaN
1991                      NaN
...                       ...
2016                      NaN
2016                      NaN
2016                      NaN
2016                      NaN
2016                      NaN

[312 rows x 1 columns]

In [18]:
from scipy.optimize import curve_fit

In [19]:
def func(t, a, b, c):
    return a * np.cos(2 * np.pi * t + b) + c

In [ ]:
popt, pcov = curve_fit(func, Year, Temperature)

a, b, c = popt
print("Best-fit values:\n a = {}\n b = {}\n c = {}".format(a, b, c))

In [ ]:

t = np.linspace(Year.min(), Year.max(), 1000)

plt.plot(Year, Temperature, 'bo', label='data')
plt.plot(t, func(t, *popt), 'r-', label='fit')
plt.xlabel('Year')
plt.ylabel('Temperature (°C)')
plt.title('Average Temperature in Kenya (1991-2016)')
plt.legend()
plt.show()